:root {
  /* rose */
  --rose-50: #fff7fb;
  --rose-800: #7a284e;
  /* stone */
  --stone-100: #f3e5d7;
  --stone-150: #e3ddd7;
  --stone-600: #5f564d;
  --stone-900: #312e2c;
  /* brown */
  --brown-800: #854632;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--stone-100);
  font-family: "Outfit";
  font-weight: normal;
  font-style: normal;
  padding: 128px 0 128px 0;
}

article {
  max-width: 736px;
  width: 100%;
  padding: 40px;
  border-radius: 24px;
  background-color: #ffffff;
}

img {
  width: 100%;
}

h1 {
  color: var(--stone-900);
  margin: 40px 0px 32px 0px;
  font-family: "Young Serif";
  font-weight: normal;
  font-style: normal;
  font-size: 38px;
}

.recipe-description {
  color: var(--stone-600);
  font-size: 19.5px;
  line-height: 1.5;
}
